<h2>Cadastar Imóveis</h2>
<form action="/cadastroImoveis" method="post">

    <div class="mb-3">
        <label class="form-label">Nome do proprietario</label>
        <input class="form-control" type="text" name="nomeDoProprietario">
    </div>
    <div class="mb-3">
        <label class="form-label">Local</label>
        <input class="form-control" type="text" name="local">
    </div>
    <div class="mb-3">
        <label class="form-label">Tipo de imóvel </label>
        <input class="form-control" type="text" name="tipoDeImovel">
    </div>
    <div class="mb-3">
        <label class="form-label">Situação Do imóvel </label>
        <input class="form-control" type="text" name="situacao">
    </div>
    <div class="mb-3">
        <label class="form-label">Valor do imóvel</label>
        <input class="form-control" type="text" name="valor">
    </div>
  
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a href="/"><button type="button" class="btn btn-success">Voltar</button></a>
</form>
